

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.spinner {
    margin: 20px auto 0;
    width: 100px;
}

.spinner > div {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
    animation: sk-bouncedelay 1.7s infinite ease-in-out both;
    margin-right: 5px;
}

.spinner--orange > div {
    background: #204d74;
}

.spinner--cyan > div {
    background: #3FCCA1;
}

.spinner--yellow > div {
    background: #F2D915;
}

.spinner .spinner__item1 {
    -webkit-animation-delay: -0.60s;
    animation-delay: -0.60s;
}

.spinner .spinner__item2 {
    -webkit-animation-delay: -0.40s;
    animation-delay: -0.40s;
}

.spinner .spinner__item3 {
    -webkit-animation-delay: -0.20s;
    animation-delay: -0.20s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}